{% extends 'base.html.twig' %}

{% block title %}S'inscrirer
{% endblock %}

{% block body %}


<header id="head" class="secondary"></header>
<!-- container -->
<div class="container">


	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Registration</h1>
			</header>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="thin text-center">S'inscrire</br>
							C'est simple et rapide
</h3>
						<p class="text-center text-muted">En appuyant sur S'inscrire, vous acceptez nos Conditions
Conditions générales, notre politique d'utilisation des données et notre politique d'utilisation des données.

						</p>
						<hr>

						{{ form_start(registrationForm) }}
						<div class="row top-margin">
							<div class="col-sm-6">
								{{ form_label(registrationForm.name, 'Nom') }}
								{{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
							</div>

							<div class="col-sm-6">
								{{ form_label(registrationForm.firstname, 'Prénom') }}
								{{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="row  form-group top-margin">
							<div class="col-sm-5">
								{{ form_label(registrationForm.datenais, 'Date de naissance') }}
								<div class="input-group-prepend">
								{{ form_widget(registrationForm.datenais, {'attr': {'class': 'form-control', 'placeholder': 'MM/DD/YYYY' }}) }}
                            </div>
							</div>
							<div class="col-sm-5">
							{{ form_label(registrationForm.image, 'Photo') }}
								{{form_widget(registrationForm.image,{'attr':{'class':'form-control'}})}}

							</div>
						</div>
						<div class="row top-margin">
							<div class="col-sm-6">
								{{ form_label(registrationForm.langue, 'Langue') }}
								{{ form_widget(registrationForm.langue, {'attr': {'class': 'form-control'}}) }}
							</div>

							<div class="col-sm-6">
								{{ form_label(registrationForm.job, 'Occupation') }}
								{{ form_widget(registrationForm.job, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="row top-margin">
							<div class="col-sm-12">
								{{ form_label(registrationForm.email, 'E-mail ') }}
								{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>



						<div class="row top-margin">
							<div class="col-sm-6">
								{{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
								{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}})
								}}
							</div>

						</div>

						<hr>

						<div class="row">
							<div class="col-lg-8">
								{{ form_widget(registrationForm.agreeTerms) }} <a href="#">Conditions d'utilisation</a>
								j'ai lu le <a href="">Termes et conditions
</a>
							</div>
							<div class="col-lg-4 text-right">
								<button class="btn btn-action" type="submit">S'inscrire</button>
								{{ form_end(registrationForm) }}
							</div>
						</div>
						</form>

					</div>
				</div>

			</div>

		</article>
		<!-- /Article -->

	</div>
</div> <!-- /container -->





{% endblock %}