{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

<body>


    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        

        <div class="row">

            <!-- Article main content -->
            <article class="col-sm-9 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Contact </h1>
                </header>

               
                <p>
                    Si vous avez des questions, veuillez remplir ce formulaire de contact. Merci!

                </p>
                {{ form_start(contactForm) }}
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_label(contactForm.name, 'Nom') }}
                        {{ form_widget(contactForm.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(contactForm.email, 'Email') }}
                        {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(contactForm.phone, 'Téléphone') }}
                        {{ form_widget(contactForm.phone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_label(contactForm.message, 'Message') }}
                        {{ form_widget(contactForm.message, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-8">
                        {{ form_widget(contactForm.agreeTerms) }} <a href="#">Conditions d'utilisation</a>
								j'ai lu le <a href="">Termes et conditions</a>
                    </div>
                    <div class="col-lg-4 text-right">
                        <input class="btn btn-action" type="submit" value="Envoyer message">
                    </div>
                </div>
                {{ form_end(contactForm) }}

            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-sm-3 sidebar sidebar-right">

                <div class="widget">
                    <h4>Address</h4>
                    <address>
                        Avenue de la république - Immeuble Al Ahram 4ème étage
                        Gabes - Tunisie
                    </address>
                    <h4>Phone:</h4>
                    <address>
                        00216 288 299 79
                    </address>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </div> <!-- /container -->


    {% endblock %}