
	{% extends 'basemessage.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="row">


				<div class="col-12 col-sm-5 col-md-4 col-xl-3 linear-gradient border">
					<div class="row">
						<div class=" col-12">

							</br>
							</br>
							</br>
							</br>
							</br>
							</br>




						</div>
					</div>

					<div class="row">
						<div class=" col-12 mb-2">
							<img class="img-fluid rond" src="{{asset("assets/chat/image/image4.jpg")}}" />
						</div>
					</div>

					<div class="row">
						<div class="col-12 texte" id="surname">
							<h3 contentEditable="True">{{ app.user.firstname }}
								{{ app.user.name }}</h3>
                                <a href="{{ path("app_messages_received") }}"><p class="underline">Boite de réception {{ app.user.recieved|length }} </a><br/>
								 <a href="{{ path("app_messages_sent") }}"> <p class="underline">Messages envoyés {{ app.user.sent|length }} <br/>
							<p class="underline">Modifier sa photo <br />




								<div class="flex-sm-fill text-sm-center">
									<div class="bouton"> <button type="button" class="btn bouton" data-toggle="modal"
											data-target="#exampleModal">
											Changer son pseudo <br />

										</button>
									</div>


									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg" role="document">

											<form>
												<!--Modal content-->
												<div class="modal-content table">
													<div class="modal-header">

														<button type="button" class="close bouton" data-dismiss="modal"
															aria-label="Close">
															<span class="bouton" aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body bouton">

														<label>Pseudo :</label>
														<input type="text" id="pseudo" name="pseudo" />


													</div>
													<div class="modal-footer justify-content-center">

														<button type="submit" id="replace" value="Enregistrer"
															name="Enregistrer" class="btn bouton bg"
															onclick="replace()">Enregistrer</button>
													</div>
												</div>
										</div>
										</form>
									</div>
								</div>






								<a href="connexion.html">Déconnexion</a>
							</p>
						</div>
					</div>
					</br></br></br></br></br>




					<div class="row text-center mb-3">
						<div class="col-4">
							<button class="btn"><img class="img-fluid img-adaptation animation"
									src="{{asset("assets/chat/image/image1.png")}}" /></button>
						</div>
						<div class="col-4">
							<button class="btn"> <img class="img-fluid img-adaptation animation"
									src="{{asset("assets/chat/image/image2.png")}}" /></button>
						</div>
						<div class="col-4">
							<button class="btn"><img class="img-fluid img-adaptation animation"
									src="{{asset("assets/chat/image/image3.png")}}" /></button>



							<!--         <button onclick = "changeColor('blue');">Bleu</button> 
                                    <button onclick = "changeColor('green');">Vert</button> 
                                    <button onclick = "changeColor('red');">Rouge</button>
                                    <button onclick = "changeColor('yellow');">Jaune</button> 
                  -->
						</div>
					</div>
				</div>



				<div class="col-12 col-sm-7 col-md-8  col-xl-7 border blanc">
					<div class="row">
						<div class="col-12 texte2 orange">
							Messageries
						</div>
					</div>
					
					

<section class="container">
		<div class="row">
			<div class="col-12">
				
				<h2>Boîte de réception</h2>
				<p>Vous avez reçu
					
					messages</p>
			</div>
			<div class="col-3">De</div>
			<div class="col-3">Sujet</div>
			<div class="col-3">Date</div>
			<div class="col-3">Actions</div>
			{% for message in app.user.recieved %}
				{% set bold = "" %}
				{% if message.isRead == 0 %}
					{% set bold = "fw-bold" %}
				{% endif %}

				<div class="col-3 {{bold}}">{{ message.sender.email }}</div>
				<div class="col-3 {{bold}}">
					<a href="{{ path("app_messages_read", {id: message.id}) }}">{{ message.title }}</a>
				</div>
				<div class="col-3 {{bold}}">{{ message.createdAt|date }}</div>
				<div class="col-3">
                    <a href="{{ path("app_messages_delete", {id: message.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-excel-fill text-danger" viewbox="0 0 16 16">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5.884 4.68L8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 1 1 .768-.64z"/>
                        </svg>
                    </a>
				</div>
			{% endfor %}


			<div class="col">
				<a class="btn btn-warning" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
				<a href="{{path("app_messages_send")}}" class="btn btn-warning">Envoyer un message</a>
			</div>
		</div>
	</section>





			</div>
		</div>




	</div>
</div>
</div>
</div>
{% endblock %}

