{% extends 'basemessage.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="row">


				<div class="col-12 col-sm-5 col-md-4 col-xl-3 linear-gradient border">
					<div class="row">
						<div class=" col-12">

							</br>
							</br>
							</br>
							</br>
							</br>
							</br>




						</div>
					</div>

					<div class="row">
						<div class=" col-12 mb-2">
							<img class="img-fluid rond" src="{{app.user.image}}" />
						</div>
					</div>

					<div class="row">
						<div class="col-12 texte" id="surname">
							<h3 contentEditable="True">{{ app.user.firstname }}
								{{ app.user.name }}</h3>
								<a href="{{ path("app_users") }}"><p class="underline">Acceuil </a><br />
                                <a href="{{ path("app_messages_received") }}"><p class="underline">Boite de réception {{ app.user.recieved|length }} </a><br/>
			  <a href="{{ path("app_messages_sent") }}"><p class="underline">Messages envoyés {{ app.user.sent|length }} </a><br/>
							</br>					</br></br>





								






								<a href="{{path('app_logout')}}">Déconnexion</a>
							</p>
						</div>
					</div>
					</br></br></br></br>
</br></br></br></br>



					<div class="row text-center mb-3">
						<div class="col-4">
							<button class="btn"><img class="img-fluid img-adaptation animation" /></button>
						</div>
						<div class="col-4">
							<button class="btn"> <img class="img-fluid img-adaptation animation"/></button>
						</div>
						<div class="col-4">
							<button class="btn"><img class="img-fluid img-adaptation animation" /></button>



							<!--         <button onclick = "changeColor('blue');">Bleu</button> 
                                    <button onclick = "changeColor('green');">Vert</button> 
                                    <button onclick = "changeColor('red');">Rouge</button>
                                    <button onclick = "changeColor('yellow');">Jaune</button> 
                  -->
						</div>
					</div>
				</div>



				<div class="col-12 col-sm-7 col-md-8  col-xl-7 border blanc">
					<div class="row">
						<div class="col-12 texte2 orange">
							Messageries
						</div>
					</div>
					
					


					<section class="container">
		<div class="row">
			<div class="col">
				<h1>Envoyer un message</h1>
                {{ form(form) }}
				
			</div>
		</div>
	</section>





			</div>
		</div>




	</div>
</div>
</div>
</div>
{% endblock %}